<!DOCTYPE html>
<html lang="en-us">

  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      SF-CHAMP Walk Skims &middot; SFCTA Prospector
    
  </title>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/sfcta-logo-144.png">
  <link rel="shortcut icon" href="http://www.sfcta.org/sites/all/themes/sfcta/favicon.ico" type="image/vnd.microsoft.icon" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

  <!-- VUE -->
  <script src="https://unpkg.com/vue"></script>

  <!-- MAPBOX GL -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

  <!-- SEMANTIC UI -->
  <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/assets/semantic/semantic.min.js"></script>

  <!-- MORRIS CHARTS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  
  <!-- IONICONS -->
  <link rel="stylesheet" href="/assets/ionicons/ionicons.min.css">
  <link rel="stylesheet" href="/assets/ionicons/leaflet.awesome-markers.css">
  <script src="/assets/ionicons/leaflet.awesome-markers.min.js"></script>

  <!-- Site CSS -->
  <link rel="stylesheet" href="/assets/css/poole.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/sfcta.css">

  <!-- Page CSS -->
  
    
      <link rel="stylesheet" href="main.css">
    
  

  <!-- Google fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:400,400italic,700">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:900i|Merriweather|Oleo+Script+Swash+Caps:700" rel="stylesheet">

</head>

  
  <body class="theme-base-01">

    <div class="sidebar">
    <div class="sidebar-about">
      <a href="/"><img class="sidebar-logo" src="/assets/sfcta-logo-144.png"/></a>
      <h1>
        <a href="/">
          SFCTA Prospector
        </a>
      </h1>
      <p class="lead">"Just add data."</p>
    </div>

    <br/>
    <br/>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>

      

      
      
        
          
        
      
        
          
            <a class="sidebar-nav-item" href="/autolos/">Auto LOS</a>
          
        
      
        
          
            <a class="sidebar-nav-item" href="/cmp/">Congestion Management Program</a>
          
        
      
        
          
        
      
        
          
        
      
        
          
        
      
        
          
            <a class="sidebar-nav-item active" href="/walkskims/">SF-CHAMP Walk Skims</a>
          
        
      
        
          
            <a class="sidebar-nav-item" href="/tnc/">Transportation Network Companies</a>
          
        
      
        
          
            <a class="sidebar-nav-item" href="/viz-template/">Visualization Template</a>
          
        
      
    </nav>
</div>


    <div class="content container">
      <div class="page">
  <h1 class="page-title">SF-CHAMP Walk Skims</h1>
  <h2>Walk Skims</h2>

<div id="panel">
    <div class="dashboard">
      <div id="picker">
        <div>
          <h4>Select Walk Skim Table</h4>
          <v-select v-model="tableSelVal" :options="tableSelOptions"></v-select>
        </div>
        <div class="column1">
          <input type="radio" v-model="dirSel" v-bind:value="dirOrig">From Origin <br>
          <input type="radio" v-model="dirSel" v-bind:value="dirDest">To Destination
        </div>
        <div class="column2">
            <h4>Select TAZ</h4>
            <v-select v-model="tazSelVal" :options="tazSelOptions"></v-select>
        </div>
      </div>
    </div>
</div>

<br/>


<div id="sfmap"></div>

<script type="application/javascript" src="/bundles/walkskims.js"></script>

</div>

    </div>

  </body>
</html>
